<h1><span class="glyphicon glyphicon-log-in"></span> Login</h1>
<div class="well well-lg margin-right-lg margin-left-lg">
    <form name="registrationForm" class="padding-left-lg padding-right-lg">

        <div class="form-group">
            <label for="gotowankoEmail">Email address</label>
            <input type="email" name="email" class="form-control" id="gotowankoEmail" placeholder="Enter email ..." ng-model="gotowankoEmail"
                   ng-minlength="5" ng-maxlength="30" required>
        </div>
        <div ng-show="registrationForm.$submitted || registrationForm.email.$touched">
            <alert ng-show="registrationForm.email.$error.required" type="danger">You did not enter email</alert>
            <alert ng-show="registrationForm.email.$error.email" type="danger">Invalid email format</alert>
            <alert ng-show="registrationForm.email.$error.minlength" type="danger">Your email need at least 5 characters</alert>
            <alert ng-show="registrationForm.email.$error.maxlength" type="danger">Email can't be longer than 30 characters</alert>
        </div>


        <div class="form-group">
            <label for="gotowankoPassword">Password</label>
            <input type="password" name="password" class="form-control" id="gotowankoPassword" placeholder="Enter password ..." ng-model="gotowankoPassword"
                   ng-minlength="6" ng-maxlength="30" required>
        </div>
        <div ng-show="registrationForm.$submitted || registrationForm.password.$touched">
            <alert ng-show="registrationForm.password.$error.required" type="danger">You did not enter password</alert>
            <alert ng-show="registrationForm.password.$error.minlength" type="danger">Your password need atleast 6 characters</alert>
            <alert ng-show="registrationForm.password.$error.maxlength" type="danger">Email can't be longer than 30 characters</alert>
        </div>


        <div class="text-right">
            <button class="btn btn-primary btn-lg margin-lg" name="loginButton" type="button" ng-click="gotowankoLogin(gotowankoEmail, gotowankoPassword)"><span class="glyphicon glyphicon-ok-sign"></span> Sign in</button>
        </div>
    </form>
</div>