/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.alert-container {
    margin: 30px 0px 0px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.floating-left {
    float: left;
}

.floating-right {
    float: right;
}

.clear {
    clear: both;
}

.margin-right-lg {
    margin-right: 30px;
}

.margin-bottom-lg {
    margin-bottom: 30px;
}

.margin-top-lg {
    margin-top: 30px;
}

.margin-left-lg {
    margin-left: 30px;
}

.margin-lg {
    margin: 30px;
}

.padding-lg {
    padding: 30px;
}

.padding-left-lg {
    padding-left: 30px;
}

.padding-right-lg {
    padding-right: 30px;
}

.padding-bottom-lg {
    padding-bottom: 30px;
}

.padding-sm {
    padding: 10px;
}

.margin-sm {
    margin: 10px;
}

.padding-left-xlg {
    padding-left: 100px;
}

.margin-right-sm {
    margin-right: 10px;
}

.margin-left-sm {
    margin-left: 10px;
}

.margin-bottom-sm {
    margin-bottom: 10px;
}

.margin-top-sm {
    margin-top: 10px;
}

.modal-open {
    overflow: scroll;
}

.top-bg {
    background-color: #EE5757;
}

.carousel-indicators li {
    border: 1px solid #EE5757 !important;
}

.carousel-indicators .active {
    background-color: #EE5757 !important;
    border: 1px solid #EE5757 !important;
}

.carousel-control {
    background: #EE5757 !important;
    width: 10% !important;
}

.carousel-inner .item {
    padding-left: 14% !important;
    padding-right: 14% !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.position-fixed {
    position: fixed;
}