<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="gotowankoApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="gotowankoApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="gotowankoApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="gotowankoApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gotowanko</title>
    <meta name="description" content="Social platform for cooking enthusiasts">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-utf8-base64/angular-utf8-base64.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
    <script src="services/services.js"></script>
    <script src="recipes/search/search.js"></script>
    <script src="recipes/show/show.js"></script>
    <script src="recipes/addedit/addedit.js"></script>
    <script src="users/login/login.js"></script>
    <script src="users/register/register.js"></script>
    <script src="users/details/details.js"></script>
    <script src="filters/dateFilters.js"></script>
    <script src="filters/imageFilters.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

</head>
<body ng-controller="RootController">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your
    experience.</p>
<![endif]-->
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->


<div class="top-bg floating-left" style="width: 100%;">
    <div class="floating-left margin-left-lg"><h2><b>Gotowanko</b></h2></div>
    <div class="margin-right-lg floating-right">
        <div ng-show="isLogged()">
            <a type="button" class="btn btn-default navbar-btn" ng-click="logout()">Wyloguj <b>{{loggedUser.name}}</b></a>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="row padding-lg">
    <div class="col-xs-2">
        <ul class="nav nav-pills nav-stacked floating-left">
            <li role="presentation" ng-class="{ active: isActive('/search') }"><a href="" ng-href="#/search"><h4>Search for recipe</h4></a></li>
            <li role="presentation" ng-if="!isLogged()" ng-class="{ active: isActive('/login') }"><a href="" ng-href="#/login"><h4>Login</h4></a></li>
            <li role="presentation" ng-if="!isLogged()" ng-class="{ active: isActive('/register') }"><a href="" ng-href="#/register"><h4>Register</h4></a></li>
            <li role="presentation" ng-if="isLogged()" ng-class="{ active: isActive('/users/{{loggedUser.id}}') }">
                <a href="" ng-href="#/users/{{loggedUser.id}}"><h4>Profile</h4></a></li>
            <li role="presentation" ng-if="isLogged()" ng-class="{ active: isActive('/recipes_create') }">
                <a href="" ng-href="#/recipes_create"><h4>Create recipe</h4></a></li>
        </ul>
    </div>
    <div class="col-xs-10" ng-view></div>
</div>

<div class="alert-container ">
    <div class="container-fluid">
        <div ng-repeat="alert in alerts" class="col-xs-6 col-xs-offset-3">
            <alert type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
    </div>
</div>

</body>
</html>
