<div class="well well-lg">
    <form name="recipeForm" class="form-horizontal">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container-fluid">
                        <div class="form-group">
                            <label class="col-xs-3" for="recipeTitle">Recipe title</label>

                            <div class="col-xs-9">
                                <input type="text" name="title" class="form-control" id="recipeTitle" placeholder="Enter recipe title ..."
                                       ng-model="recipe.title" ng-minlength="5" ng-maxlength="50" required>
                            </div>
                        </div>
                        <div ng-show="recipeForm.$submitted || recipeForm.name.$touched">
                            <alert ng-show="recipeForm.title.$error.required" type="danger">You did not enter title</alert>
                            <alert ng-show="recipeForm.title.$error.minlength" type="danger">Title need at least 2 characters</alert>
                            <alert ng-show="recipeForm.title.$error.maxlength" type="danger">Title can't be longer than 30 characters</alert>
                        </div>

                        <div class="row">
                            <div class="col-xs-3">
                                <a href="" id="popover"><span class="glyphicon glyphicon-picture" style="font-size: 128px;"></span></a>

                                <div id="popover-head" class="hide">
                                    Choose photo
                                </div>
                                <div id="popover-content" class="hide">
                                    <div class="input-group container-fluid" >
                                        <label for="photoUrl">URL</label>

                                        <div>
                                            <input type="text" name="title" class="form-control" id="photoUrl" placeholder="Enter photo address ..."
                                                   ng-model="recipe.photoUrl" ng-minlength="5" ng-maxlength="50"></div>
                                    </div>
                                    <div class="input-group pull-right padding-sm">
                                        <button type="submit" class="btn btn-primary btn-block" ng-click="closePopover()">Ok</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label for="realizationCost" class="col-xs-3">Total cost</label>

                                    <div class="col-xs-9">
                                        <input type="number" name="title" class="form-control" id="realizationCost"
                                               placeholder="Enter recipe realization cost..."
                                               ng-model="recipe.cost" ng-minlength="1" ng-maxlength="50" min="0">
                                    </div>
                                </div>
                                <div ng-show="recipeForm.$submitted || recipeForm.name.$touched">
                                    <alert ng-show="recipeForm.title.$error.required" type="danger">You did not enter title</alert>
                                    <alert ng-show="recipeForm.title.$error.minlength" type="danger">Title need at least 2 characters</alert>
                                    <alert ng-show="recipeForm.title.$error.maxlength" type="danger">Title can't be longer than 30 characters</alert>
                                </div>
                            </div>

                            <div class="col-xs-9">
                                <div class="form-group">
                                    <label for="realizationTime" class="col-xs-4">Realization time</label>

                                    <div class="col-xs-8">
                                        <div ng-controller="RealizationTimeController" id="realizationTime">
                                            <timepicker ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="5"
                                                        show-meridian="false"></timepicker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item container-fluid" ng-repeat="step in recipe.recipeSteps">
                    <div class="row">
                        <div class="col-xs-11"><h3 style="margin: 0px !important;">{{recipe.title}}</h3></div>
                        <div class="dropdown col-xs-1">
                            <button class="floating-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-menu-hamburger padding-sm" aria-hidden="true"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" ng-class="{disabled: !canDelete()}">
                                    <a role="menuitem" tabindex="-1" href="" ng-click="deleteRecipe()">
                                        <span class="glyphicon glyphicon-remove margin-right-sm"></span>Delete recipe</a>
                                </li>
                                <li role="presentation" ng-class="{disabled: !canEdit()}">
                                    <a role="menuitem" tabindex="-1" href="" ng-click="editRecipeStep(step.stepNumber)">
                                        <span class="glyphicon glyphicon-edit margin-right-sm"></span>Edit recipe</a>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{step.photoUrl}}" ng-if="step.photoUrl"/>
                        </div>
                        <div class="col-xs-8">
                            <h4 class="text-center">{{step.title}}</h4>

                            <p>{{step.description}}</p>
                            <dl ng-if="step.videoUrl">
                                <dt>Zobacz film</dt>
                                <dd><a href="{{step.videoUrl}}">{{step.videoUrl}}</a></dd>
                            </dl>
                        </div>
                    </div>

                    <div>
                        <div class="floating-left" ng-repeat="ingredient in step.ingredients">
                            <div class="floating-left">
                                <img src="{{ingredient.iconUrl}}"/>
                            </div>
                            <div class="floating-left" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
                                <h4>{{ingredient.name}}</h4>
                                {{ingredient.amount}} {{ingredient.unitName}}
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <br/>

                    <div ng-if="step.realizationTime">
                        <div class="floating-left">
                            <img src="images/recipe/clock.png"/>
                        </div>
                        <div class="floating-left" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
                            <h5>Approximate realization time</h5>

                            <div class="text-center"><strong>{{step.realizationTime | msToDateTime}}</strong></div>
                        </div>
                    </div>
                    <div ng-if="step.timerDuration">
                        <div class="floating-left">
                            <img src="images/recipe/alarm.png"/>
                        </div>
                        <div class="floating-left" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
                            <h5>Run alarm after</h5>

                            <div class="text-center"><strong>{{step.timerDuration | msToDateTime}}</strong></div>
                        </div>
                    </div>
                </div>

            </div>
            <br/><br/><br/><br/>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <!-- Indicators -->
            <ol class="carousel-indicators" style="position: relative; bottom: 0px;">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="{{$index+1}}" ng-repeat="step in recipe.recipeSteps"></li>
            </ol>

        </div>
    </form>
</div>