<div>
    <div>
        <h1 ng-if="isAdded()"><span class="glyphicon glyphicon-blackboard"></span> Create recipe
            <span>
                <button id="helpButtonAdd" class="btn btn-info pull-right" tooltip="Test" tooltip-placement="left" tooltip-trigger="focus">Help</button>
            </span>
        </h1>
        <h1 ng-if="isModified()">Modify recipe
            <span>
                <button id="helpButtonEdit" class="btn btn-info pull-right" tooltip="Test" tooltip-placement="left" tooltip-trigger="focus">Help</button>
            </span>
        </h1>
        <tabset id="recipeTab">
            <tab active="tabs[0].active">
                <tab-heading><span class="glyphicon glyphicon-th-list"></span> {{getRecipeTabTitle()}}</tab-heading>
                <form name="form.recipeForm" class="margin-top-sm well">
                    <div class="form-group">
                        <label for="recipeTitle">Title</label>
                        <input name="title" type="text" class="form-control" id="recipeTitle" placeholder="Enter recipe title..."
                               ng-model="recipe.title" ng-minlength="3" ng-maxlength="50" ng-required="true"
                               tooltip="Enter recipe title" tooltip-placement="bottom" tooltip-trigger="focus">
                    </div>
                    <div ng-show="form.recipeForm.$submitted || form.recipeForm.title.$touched">
                        <alert ng-show="form.recipeForm.title.$error.required" type="danger">You did not enter title</alert>
                        <alert ng-show="form.recipeForm.title.$error.minlength" type="danger">Title need at least 3 characters</alert>
                        <alert ng-show="form.recipeForm.title.$error.maxlength" type="danger">Title can't be longer than 50 characters</alert>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <label for="recipeApproximateCost">Approximate cost</label>
                            <input type="number" class="form-control" id="recipeApproximateCost"
                                   placeholder="How much cost realization of this recipe?" ng-model="recipe.approximateCost" min="0"
                                   tooltip="How much cost realization of this recipe?" tooltip-placement="bottom" tooltip-trigger="focus">
                        </div>
                        <div class="form-group col-xs-6">
                            <label for="recipeCookingTime">Cooking time (minutes)</label>
                            <input type="number" class="form-control" id="recipeCookingTime" name="recipeCookingTime"
                                   placeholder="How much it takes to realize recipe?" ng-model="tabs[0].cookingTime" min="0"
                                   tooltip="How much it takes to realize recipe?" tooltip-placement="bottom" tooltip-trigger="focus">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipePhotoUrl">Photo URL</label>
                        <input name="photoUrl" type="url" class="form-control" id="recipePhotoUrl" placeholder="Provide us with URL address representing recipe"
                               ng-model="recipe.photoUrl"
                               tooltip="Provide us with URL address representing recipe" tooltip-placement="bottom" tooltip-trigger="focus">

                        <div ng-show="form.recipeForm.$submitted || form.recipeForm.photoUrl.$touched">
                            <alert ng-show="form.recipeForm.photoUrl.$error.url" type="danger">Not a valid url address</alert>
                        </div>
                    </div>
                    <div class="text-right margin-top-lg margin-right-lg">
                        <button class="btn btn-success btn-lg" type="submit" ng-click="saveRecipe()"><span class="glyphicon glyphicon-ok-sign"></span> Save recipe</button>
                    </div>
                </form>

            </tab>

            <tab ng-repeat="recipeStep in recipe.recipeSteps track by $index" ng-init="recipeStepIndex = $index;" active="tabs[$index+1].active">
                <tab-heading>
                    <span class="badge">{{recipeStepIndex+1}}</span> {{getRecipeStepTabTitle(recipeStepIndex)}}
                    <a class="btn btn-xs btn-danger margin-left-sm" ng-show="recipeStep.stepNumber > 1" ng-click="removeRecipeStep($index)" href="">
                        <i class="glyphicon glyphicon-trash"></i></a>
                </tab-heading>
                <div class="margin-top-sm well">
                    <form name="form.recipeStepForm_{{recipeStepIndex}}">
                        <div class="form-group">
                            <label for="recipeStepTitle">Title</label>
                            <input name="title" type="text" class="form-control" id="recipeStepTitle" placeholder="Enter recipe step title..."
                                   ng-model="recipeStep.title" ng-minlength="3" ng-maxlength="50" ng-required="true"
                                   tooltip="Enter recipe step title" tooltip-placement="bottom" tooltip-trigger="focus">

                            <div ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).$submitted || $eval('form.recipeStepForm_' + recipeStepIndex).title.$touched">
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).title.$error.required" type="danger">
                                    You did not enter title
                                </alert>
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).title.$error.minlength" type="danger">
                                    Title need at least 3 characters
                                </alert>
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).title.$error.maxlength" type="danger">
                                    Title can't be longer than 50 characters
                                </alert>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recipeStepDescription">Description</label>
                        <textarea name="description" ng-model="recipeStep.description" id="recipeStepDescription" class="form-control"
                                  rows="8" placeholder="Recipe step description should tell how to realize current step"
                                  ng-minlength="3" ng-maxlength="1000" ng-required="true"
                                  tooltip="Recipe step description should tell how to realize current step" tooltip-placement="bottom"
                                  tooltip-trigger="focus"></textarea>

                            <div ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).$submitted || $eval('form.recipeStepForm_' + recipeStepIndex).description.$touched">
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).description.$error.required" type="danger">
                                    You did not enter description
                                </alert>
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).description.$error.minlength" type="danger">
                                    Description need at least 3 characters
                                </alert>
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).description.$error.maxlength" type="danger">
                                    Description can't be longer than 1000 characters
                                </alert>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                <label for="recipeStepTimerDuration">Timer duration (seconds)</label>
                                <input type="number" class="form-control" id="recipeStepTimerDuration"
                                       placeholder="Enter timer duration in seconds, when timer expire, you will be notified"
                                       ng-model="tabs[recipeStepIndex+1].timerDuration"
                                       tooltip="Enter timer duration in seconds, when timer expire, you will be notified" tooltip-placement="bottom"
                                       tooltip-trigger="focus" min="0">
                            </div>
                            <div class="form-group col-xs-6">
                                <label for="recipeStepRealizationTime">Realization time (minutes)</label>
                                <input type="number" class="form-control" id="recipeStepRealizationTime"
                                       placeholder="Enter recipe step realization time in minutes" ng-model="tabs[recipeStepIndex+1].realizationTime"
                                       tooltip="Enter recipe step realization time in minutes" tooltip-placement="bottom" tooltip-trigger="focus" min="0">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="recipeStepPhotoUrl">Photo URL</label>
                            <input name="photoUrl" type="url" class="form-control" id="recipeStepPhotoUrl"
                                   placeholder="Provide us with URL address representing recipe step"
                                   ng-model="recipeStep.photoUrl"
                                   tooltip="Provide us with URL address representing recipe step" tooltip-placement="bottom" tooltip-trigger="focus">

                            <div ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).$submitted || $eval('form.recipeStepForm_' + recipeStepIndex).photoUrl.$touched">
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).photoUrl.$error.url" type="danger">
                                    Not a valid url address
                                </alert>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="recipeStepVideoUrl">Video URL</label>
                            <input name="videoUrl" type="url" class="form-control" id="recipeStepVideoUrl"
                                   placeholder="Provide us with URL video address explaining recipe step"
                                   ng-model="recipeStep.videoUrl"
                                   tooltip="Provide us with URL video address explaining recipe step" tooltip-placement="bottom" tooltip-trigger="focus">

                            <div ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).$submitted || $eval('form.recipeStepForm_' + recipeStepIndex).videoUrl.$touched">
                                <alert ng-show="$eval('form.recipeStepForm_' + recipeStepIndex).videoUrl.$error.url" type="danger">
                                    Not a valid url address
                                </alert>
                            </div>
                        </div>

                        <h4 class="text-center margin-top-lg" ng-if="recipeStep.ingredients.length > 0">Chosen ingredients</h4>

                        <div class="row padding-lg">
                            <ul class="list-group media-list">
                                <li class="list-group-item col-xs-3 margin-right-lg margin-bottom-lg"
                                    ng-repeat="ingredient in recipeStep.ingredients track by $index"
                                    ng-init="ingredientIndex = $index;" tooltip="Click minus button to remove ingredient from recipe step or change values">
                                    <form name="form.addedIngredientForm_{{ingredient.ingredientId}}">
                                        <div class="media-left media-middle">
                                            <img class="media-object" ng-src="{{ingredientIconUrl(ingredient.ingredientId)}}" alt="ingredient.name">
                                        </div>

                                        <div class="media-body">
                                            <div>
                                                <div class="floating-left">
                                                    <h4 class="media-heading">{{ingredientName(ingredient.ingredientId)}}</h4>
                                                </div>

                                                <div class="text-right floating-right">
                                                    <button class="btn btn-sm btn-danger" type="button" name="addIngredientButton"
                                                            ng-click="removeIngredient(recipeStepIndex+1, ingredientIndex)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </button>
                                                </div>
                                                <div class="clear"></div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-xs-6">
                                                    <label for="addedIngredientAmount{{ingredient.ingredientId}}">Amount</label>
                                                    <input type="number" class="form-control" name="ingredientAmount"
                                                           id="addedIngredientAmount{{ingredient.ingredientId}}"
                                                           ng-model="ingredient.ingredientAmount" min="0">
                                                </div>

                                                <div class="form-group col-xs-6">
                                                    <label for="addedIngredientUnit{{ingredient.ingredientId}}">Unit</label>
                                                    <select ng-model="ingredient.ingredientUnitId"
                                                            class="form-control" id="addedIngredientUnit{{ingredient.ingredientId}}"
                                                            ng-options="ingredientUnit.id as ingredientUnit.name for ingredientUnit in ingredientUnits"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>


                        <div class="text-right margin-right-lg">
                            <button class="btn btn-success btn-lg" type="submit" ng-click="saveRecipe()"><span class="glyphicon glyphicon-ok-sign"></span> Save recipe</button>
                        </div>
                    </form>

                </div>
                <div class="clear"></div>
                <h4 class="text-center margin-top-lg">Add ingredients needed in this step</h4>

                <input type="text" class="form-control margin-top-lg" placeholder="Filter ingredients" ng-model="ingredientsFilter">

                <div>
                    <ul class="list-group media-list">
                        <li class="list-group-item col-xs-3 margin-right-lg margin-bottom-lg" ng-repeat="ingredient in ingredients | filter:ingredientsFilter"
                            tooltip="Write amount, choose unit and click plus button to add ingredient to recipe step">
                            <form>
                                <div class="media-left media-middle">
                                    <img class="media-object" ng-src="{{ingredient.iconUrl}}" alt="ingredient.name">
                                </div>
                                <div class="media-body">
                                    <div>
                                        <div class="floating-left">
                                            <h4 class="media-heading">{{ingredient.name}}</h4>
                                        </div>

                                        <div class="text-right floating-right">
                                            <button class="btn btn-sm btn-success" type="button" name="addIngredientButton"
                                                    ng-click="addIngredient(recipeStepIndex+1, ingredient.id)"
                                                    ng-disabled="!tabs[recipeStepIndex+1].ingredients[ingredient.id].ingredientAmount || !tabs[recipeStepIndex+1].ingredients[ingredient.id].ingredientUnitId">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <label for="ingredientAmount{{ingredient.id}}">Amount</label>
                                            <input type="number" class="form-control" name="ingredientAmount" id="ingredientAmount{{ingredient.id}}"
                                                   ng-model="tabs[recipeStepIndex+1].ingredients[ingredient.id].ingredientAmount" min="0">
                                        </div>

                                        <div class="form-group col-xs-6">
                                            <label for="ingredientUnit{{ingredient.id}}">Unit</label>
                                            <select ng-model="tabs[recipeStepIndex+1].ingredients[ingredient.id].ingredientUnitId"
                                                    class="form-control" id="ingredientUnit{{ingredient.id}}"
                                                    ng-options="ingredientUnit.id as ingredientUnit.name for ingredientUnit in ingredientUnits"></select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </tab>

            <tab select="addRecipeStep()" active="false" style="">
                <tab-heading class="btn btn-success btn-xs margin-xsm" style="">
                    <i class="glyphicon glyphicon-plus" style=" outline: 0 !important "></i> Add step
                </tab-heading>
            </tab>
        </tabset>
    </div>
</div>