<div class="well well-lg">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container-fluid">
                    <h3>{{recipe.title}}</h3>

                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{recipe.photoUrl}}"/>
                        </div>

                        <div class="col-xs-9">
                            <dl class="dl-horizontal">
                                <dt>last modification</dt>
                                <dd>{{recipe.lastEdited | date:'dd-MM-yyyy HH:mm:ss'}}</dd>
                                <dt>Likes</dt>
                                <dd>{{recipe.likesNumber}}</dd>
                                <dt>Owner</dt>
                                <dd><a href="" ng-href="#/users/{{recipe.userId}}">{{recipe.userName}}</a></dd>
                                <div ng-if="recipe.approximateCost">
                                    <dt>Approximate cost</dt>
                                    <dd>{{recipe.approximateCost}}</dd>
                                </div>
                                <div ng-if="recipe.cookingTime">
                                    <dt>cooking time</dt>
                                    <dd>{{recipe.cookingTime | msToDateTime }}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row col-xs-12">
                        <h3>Comments:</h3>
                        <input type="text" class="form-control input-lg" placeholder="Filter comments" ng-model="commentsFilter"><br/>

                        <div class="panel panel-default" ng-repeat="comment in recipe.comments | filter:commentsFilter">
                            <div class="panel-heading">
                                <h4 style="width:100%">{{comment.userName}}
                                    <small>{{comment.lastEdited | date:'dd-MM-yyyy HH:mm:ss'}}</small>
                                </h4>
                            </div>
                            <div class="panel-body">
                                {{comment.content}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item container-fluid" ng-repeat="step in recipe.recipeSteps">
                <h3 class="row">{{recipe.title}}</h3>

                <div class="row">
                    <div class="col-xs-3">
                        <img src="{{step.photoUrl}}" ng-show="{{step.photoUrl}}"/>
                    </div>
                    <div class="col-xs-8">
                        <h4 class="text-center">{{step.title}}</h4>

                        <p>{{step.description}}</p>
                        <dl ng-show="step.videoUrl">
                            <dt>Zobacz film</dt>
                            <dd><a href="{{step.videoUrl}}">{{step.videoUrl}}</a></dd>
                        </dl>
                    </div>
                </div>

                <div>
                    <div class="floating-left" ng-repeat="ingredient in step.ingredients">
                        <div class="floating-left">
                            <img src="{{ingredient.iconUrl}}"/>
                        </div>
                        <div class="floating-left" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
                            <h4>{{ingredient.name}}</h4>
                            {{ingredient.amount}} {{ingredient.unitName}}
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <br/>

                <div ng-show="{{step.realizationTime}}">
                    <div class="floating-left">
                        <img src="images/recipe/clock.png"/>
                    </div>
                    <div class="floating-left" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
                        <h5>Approximate realization time</h5>

                        <div class="text-center"><strong>{{step.realizationTime | msToDateTime}}</strong></div>
                    </div>
                </div>
                <div ng-show="{{step.timerDuration}}">
                    <div class="floating-left">
                        <img src="images/recipe/alarm.png"/>
                    </div>
                    <div class="floating-left" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
                        <h5>Run alarm after</h5>

                        <div class="text-center"><strong>{{step.timerDuration | msToDateTime}}</strong></div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <!-- Indicators -->
        <ol class="carousel-indicators" style="position: relative; bottom: 0px;">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="{{$index+1}}" ng-repeat="step in recipe.recipeSteps"></li>
        </ol>

    </div>
</div>