<div class="well well-lg">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">


        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="padding-left: 12%; padding-right: 12%">
                <div class="container-fluid">
                    <h2>Jajecznica</h2>

                    <div class="row">
                        <div class="col-xs-3">
                            <img src="{{recipe.photoUrl}}"/>
                        </div>

                        <div class="col-xs-9">
                            <dl class="dl-horizontal">
                                <dt>last modification</dt>
                                <dd>{{recipe.lastEdited | date:'dd-MM-yyyy HH:mm:ss'}}</dd>
                                <dt>Likes</dt>
                                <dd>{{recipe.likesNumber}}</dd>
                                <dt>Owner</dt>
                                <dd><a href="" ng-href="#/users/{{recipe.userId}}">{{recipe.userName}}</a></dd>
                                <div ng-if="recipe.approximateCost">
                                    <dt>Approximate cost</dt>
                                    <dd>{{recipe.approximateCost}}</dd>
                                </div>
                                <div ng-if="recipe.cookingTime">
                                    <dt>cooking time</dt>
                                    <dd>{{recipe.cookingTime | msToDateTime }}</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                    <div class="row col-xs-12">
                        <h3>Comments:</h3>
                        <input type="text" class="form-control input-lg" placeholder="Filter comments" ng-model="commentsFilter"><br/>

                        <div class="panel panel-default" ng-repeat="comment in recipe.comments | filter:commentsFilter">
                            <div class="panel-heading">
                                <h4 style="width:100%">{{comment.userName}}
                                    <small>{{comment.lastEdited | date:'dd-MM-yyyy HH:mm:ss'}}</small>
                                </h4>
                            </div>
                            <div class="panel-body">
                                {{comment.content}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="item" style="padding-left: 150px">
                <div>
                    <h1>Jajecznica</h1>
                </div>
            </div>

        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

        <!-- Indicators -->
        <ol class="carousel-indicators" style="position: relative; bottom: 0px;">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

    </div>
</div>